.header {
	padding: 4cm 0;
	display: flex;
	justify-content: left;
	align-items: center;
	height: 1000px;
	background-color: white;
	background-image: url('./../../img/Photo01.jpg');
	background-repeat: no-repeat; /* Отключаем повторение текстуры */
    background-size: cover; /* Масштабируем изображение так, чтобы оно полностью покрыло фон */
    background-position: center; /* Центрируем изображение */
	color: white;
	text-align: left;
	height: 900px;
	
}

.header__wrapper {
    margin-left: 100px; /* Добавляем отступ слева */
    max-width: 100%;
    text-align: left; /* Выравнивание текста по левому краю */
}

.header__wrapper * {
    margin: 0; /* Сбрасываем внутренние отступы для всех вложенных элементов */
}

.header__title {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.4;
	color: white;
}

.header__title strong {
	font-size: 60px;
	font-weight: 700;
}

.header__title em {
	font-style: normal;
	color: white;
}

.header__text {
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 1.333;
	color: white;
}

.header__text p + p {
	margin-top: 0.5em;
}

.create_list_button {
	background-color: #ad286b; /* Розовый цвет */
	color: #FFFFFF; /* Белый цвет текста */
	border: none; /* Убираем границы */
	border-radius: 10px; /* Закругленные углы */
	padding: 10px 40px; /* Отступы внутри кнопки */
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Тень вправо */
	cursor: pointer; /* Курсор при наведении */
	transition: box-shadow 0.3s ease; /* Плавное изменение тени */
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3); /* Увеличиваем тень при наведении */
}