@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=DM+Serif+Display:ital@0;1&family=Lemon&family=Modak&family=Poller+One&family=Prata&display=swap');


.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px 0;
    background-color: rgba(23, 23, 24, 0.5);
    /* border-bottom: 1px solid #26292d; */
    color: #fff;
    letter-spacing: normal;
}

/* Стили для строки навигации */
.nav-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}
.logo {
text-decoration: none;
  margin-right: auto;
  color: var(--nav-text);
  font-size: 24px;
  font-family: "DM Serif Display", serif;
  letter-spacing: 2px;
}

.logo strong {
  font-weight: 700;
}


.nav-list {
	letter-spacing: 1px;
	list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: "DM Serif Display", serif;
}

.nav-list__link {
	text-decoration: none;
    color: #fff;
    transition: opacity 0.2s ease-in;
    line-height: 24px;
}

.nav-list__link:hover {
    opacity: 0.8;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #5c62ec;
}

