@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
/* @import "./reset.css"; Импорт файлов сброса стилей */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.body {
  height: 900px;
}
.privacy-police-text {
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: justify;
}

/* --------------------------------------- */
/*------------------createWishlist---------- */
.wishlist-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title {
  font-size: 24px;
  margin-top: 8px;
}

.title-1 {
  font-size: 15px;
  margin-top: 30px;
}
.wishlist-card {
  background-color: #d1edf8;
  box-shadow: 0px 2px 4px rgba(53, 22, 22, 0.4);
  padding: 20px;
  border-radius: 15px;
  width: 600px;
}

.back-arrow a {
  text-decoration: none;
  color: #b1abab;
}

.back-arrow a:hover {
  text-decoration: underline;
}

.input-group {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}
input:focus,
textarea:focus {
  outline: none;
}
label {
  display: block;
  margin-bottom: 5px;
}

.rounded-input {
  background-color: white;
  border: none;
  border-radius: 15px;
  font-family: "Prata", sans-serif;
}

.rounded-textarea {
  background-color: white;
  border-radius: 5px;
  width: 94%;
  height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #dad7d7;
  font-family: "Prata", sans-serif;
}

.save-button {
  margin-top: 10px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 97%;
  height: 50px;
}

.save-button:hover {
  background-color: #4294ec;
}

/* -------------------------------------- */

.App-link {
  color: #61dafb;
}

:root {
  /* Colors */
  --blackpure: #000; /* Чистый черный *
  --black: #171718; /* Черный */
  --black-border: #26292d; /* Черная граница */
  --white: #fff; /* Белый */
  --purple: #5c62ec; /* Фиолетовый */

  /* Nav */

  --nav-bg: rgba(23, 23, 24, 0.5);

  /* Прозрачный черный фон навигации с 80% непрозрачности */

  /* --nav-border: var(--black-border); Граница навигации */
  --nav-text: var(--white); /* Текст навигации */

  /* Header */
  --header-text: var(--white); /* Текст шапки */
  --page-bg: var(--white); /* Фон страницы */
  --text-color: var(--black); /* Цвет текста */
  --accent: var(--purple); /* Акцентный цвет */
  --title-1: var(--accent); /* Заголовок 1 */
  --project-card-bg: var(--white); /* Фон карточки проекта */
  --project-card-text: var(--black); /* Текст карточки проекта */
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25); /* Тень */
}

/* Контейнер */
.container {
  margin: 0 auto; /* Размещение по центру */
  padding: 0 15px; /* Отступы */
  max-width: 1200px; /* Максимальная ширина */
}

/* Скрытие элементов */
.none {
  display: none !important;
}

/* Секция */
.section {
  padding: 70px 0; /* Отступы */
}

.main-content {
  min-height: calc(100vh - 40px); /* Высота окна за вычетом высоты footer */
  /* Остальные стили для основного контента */
}
