@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import "./reset.css";   /*Импорт файлов сброса стилей */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'DM Sans', sans-serif;
  letter-spacing: -0.5px;

  /* Light mode */
  background-color: var(--page-bg);
  color: var(--text-color);
}
/* -------------privacy-police------------ */

.privacy-police-text {
  margin-top: 100px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: justify;
}

/*------------------createWishlist---------- */
.wishlist-container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 14px;
  font-family: "DM Serif Display", serif;
}
.title {
  font-size: 30px;
  margin-top: 8px;
  margin-left: 15px;
}

.title-1 {
  font-size: 18px;
  margin-top: 30px;
  font-family: "DM Serif Display", serif;
}
.wishlist-card {
  background-color: #d1edf8;
  box-shadow: 0px 2px 4px rgba(53, 22, 22, 0.4);
  padding: 20px;
  border-radius: 15px;
  width: 600px;
}

.back-arrow a {
  text-decoration: none;
  color: #b1abab;
}

.back-arrow a:hover {
  text-decoration: underline;
}

.input-group {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  margin-left: 15px;
}
input:focus,
textarea:focus {
  outline: none;
}
label {
  display: block;
  margin-bottom: 5px;
}

.rounded-input {
  background-color: white;
  border: none;
  border-radius: 15px;
  font-family: "DM Serif Display", serif;
}

.rounded-textarea {
  background-color: white;
  border-radius: 5px;
  width: 94%;
  height: 150px;
  padding: 10px;
  border-color: #dad7d7;
  font-family: "DM Serif Display", serif;
}

.save-button {
  margin-top: 10px;
  background-color: #007bff;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  width: 94%;
  height: 50px;
}

.save-button:hover {
  background-color: #4294ec;
}

/* -------------------------------------- */
.project-instruction{
margin-top: 50px;

}
.container {
  margin: 0 auto; /* Размещение по центру */
  padding: 0 15px; /* Отступы */
  max-width: 1200px; /* Максимальная ширина */
  }
 

 



 

 
