.auth-container {
    width: 50%;
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 94%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .consent-text {
    font-size: 0.8em; 
    text-align: center;
    margin-bottom: 20px; 
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #b4c0cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #b4c0cc;
  }
  /* Стили текста под кнопкой */
  .auth-container p {
    text-align: center;
    margin-top: 20px;
  }
  
  .auth-container a {
    color: #5cb85c; /* Цвет ссылки такой же, как у кнопки */
    text-decoration: none;
  }
  
  .auth-container a:hover {
    text-decoration: underline;
  }
  
  /* Стили сообщения об ошибке */
  .error-message {
    color: #d9534f; /* Красный цвет текста */
    text-align: center;
    margin-bottom: 20px;
  }